@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/topicos.css");
@import url('styles/contato.css');
@import url('styles/rodape.css');
@import url('styles/carrossel.css');

:root{
    --branco:#FFFFFF;
    --amarelo: #EB9B00;
    --amarelo-claro: #ffc042;
    --azul-marinho: #002F52;
    --cinza: #C4C4C4;
    --cor-de-fundo: #EBECEE;
    --azul-degrade: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    --fonte-principal: "Poppins";
    --azul: #002F52;
    --preto: #000000;
    --cinza-escuro: #858585;
    --cinza-mais-escuro: #474646;
    --fonte-logo: font-family: 'Josefin Sans', sans-serif;

}

body{
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

